{
  "kind": "Service",
  "apiVersion": "v1",
  "metadata": {
    "name": "ovirt-engine"
  },
  "spec": {
    "selector": {
      "app": "ovirt-engine"
    },
    "ports": [
      {
        "name": "engine",
        "protocol": "TCP",
        "port": 80,
        "targetPort": "engine"
      },
      {
        "name": "engine-tls",
        "protocol": "TCP",
        "port": 443,
        "targetPort": "engine-tls"
      },
      {
        "name": "spice-proxy",
        "protocol": "TCP",
        "port": 3128,
        "targetPort": "spice-proxy"
      }
    ],
    "externalIPs": [
      "YOUR_IP_HERE"
    ]
  }
}
